body {
  font-family: Charcoal, Arial, sans-serif;
  color: #444;
}
/*
 * Formatting the header area
 */
header {
  background-color: #293e4d;
  height: 50px;
  width: 100%;
  opacity: .9;
  margin-bottom: 20px;
}
header h1.logo {
  margin: 8px;
  font-size: 1.5em;
  color: #fff;
  text-transform: uppercase;
  float: left;
  top: 10px

}
header h1.logo:hover {
  color: #fff;
  text-decoration: none;
  display: inline;

}
/*
 * Centering the body content
 */
.container {
  width: 90%;

  margin: 0 auto;
}
div.home {
padding: 10px 10px 10px 10px;
  background-color: #d8e3da;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;


}

}

h1 {
  font-size: 1.5em;
  margin-top: 40px;
  text-align: center;
}
h3 {
  font-size: 1.2em;
  margin-top: 20px;
  color: #6b6b6d;
}

h2 {
  font-size: 1.6em;
  font-weight: 50;
  margin-top: 30px;
  text-align: center;
}


.indent{

   margin: 0;
   position: absolute;
   left: 50%;
   -ms-transform: translateX(-50%);
   transform: translateX(-50%);
}

.button {
  background-color: #293e4d;
  border: 2px solid white;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;


}
.menu {
  float: right;
  margin-top: 8px;
}
.menu li {
  display: inline;
}
.menu li + li {
  margin-left: 35px;
}
.menu li a {
  color: #fff;

  text-decoration: none;
}
