<!DOCTYPE html>
<html>
  <head>
    <title>Job Description</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Topic Modeling for Job Description</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('analytic') }}">Job Analytic</a></li>
            <li><a href="{{ url_for('upload') }}">Precompute Data</a></li>

          </ul>
        </nav></strong>
      </div>
    </header>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
